@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200;1,700&display=swap');


$h1-color: white;
$bg-img: url("../resources/imgs/cover-auth.png");

$subtitle-color: white;

body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-image: $bg-img;
    background-size: cover;
   
  
    
}
.subtitle{

    color: $subtitle-color;
    font-weight: bold;

}
h1{

    color:$h1-color;

}

img{

    height: 500px;
    width: 500px;

}